[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	password = BlerimBerisha4
	name = yllkaberisha
	email = yllka.berisha10@gmail.com
